<!-- <pre> -->
  <!-- {{ post | json }} -->
  <!-- {{ postForm.value | json}} -->
<!-- </pre> -->
<ng-content select="header"></ng-content>
<ng-content select="app-creator"></ng-content>
<!-- complex resusable version
  <h1> {{isCreateForm ? 'Create' : 'Edit'}} Post</h1>
-->
<form (ngSubmit)="submit(postForm.value, postForm.valid)" #postForm="ngForm" novalidate>
  <!-- <pre>{{ postForm.value | json }}</pre> -->
  <div>
    <label for="title">Title</label>
    <input type="text" [ngModel]="post?.title" name="title" #title="ngModel" required/>
  </div>
  <div>
    <label for="author">Author</label>
    <input type="text" [ngModel]="post?.author" name="author" #author="ngModel" required/>
  </div>
  <div *ngIf="showIdMessage">
    id will be created automatically
  </div>
  <div *ngIf="!isCreateForm">
    <label for="id">Id</label>
    <!-- we have to actually not include id in the dom which is easily possible with reactive forms. We will look into later -->
    <input type="number" [ngModel]="post?.id" name="id" #id="ngModel" disabled/>
  </div>
  <div>
    <label for="gender">Gender</label>
    <input type="radio" [value]="'m'" [ngModel]="post?.gender" name="gender" #gender="ngModel" required/>
    <input type="radio" [value]="'f'" [ngModel]="post?.gender" name="gender" #gender="ngModel" required/>
  </div>
  <div>
    <label for="tag">Tags</label>
    <!-- name attribute is used to create variable name inside the template driven form -->
    <select name="tag" [ngModel]="post?.tag">
      <option *ngFor="let tag of tags" [ngValue]="tag.key" [innerText]="tag.value" required></option>
    </select>
    <!-- Long Version
      <select name="tags">
        <option *ngFor="let tag of tags" [value]="tag.key" [innerText]="tag.value" [selected]="tag.key === post?.tag" ></option>
      </select>
    -->
  </div>
  <ng-content select="button"></ng-content>
  <!-- complex resusable version
    <button type="submit" [disabled]="postForm.invalid">{{isCreateForm ? 'Create' : 'Update'}}</button>
  -->
</form>
